# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment files
venv/
env/

# Poetry files
poetry.lock

# IDE files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Logs
*.log
